body{
	border:22px solid #bdc3c7;
	padding:17px;
	width:50%;
	margin-left: 25%;
}
h2{
	padding-top:10px;
	padding-bottom:10px;
	font-weight: bold;
	font-size: 30px;

}
p{
	font-family:'Source Sans Pro',sans-serif;
}
#borderspecial{
	border-left:6px solid #bdc3c7;
	padding-left: 10px;
}
.modifieddate{
	text-transform: uppercase;
	color:#3498db;
	letter-spacing: 3px;
}
hr{
	padding-left: :20px;
	padding-right: 20px;
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	
}
div{
	padding-bottom: 20px;
}